* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #ffffff;
}

a{
    border: 2px solid black;
    padding: 7px;
    margin: 3px;
    color: black;
    border-radius: 20px;
    text-decoration: none;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #043f58 ;
    color: #CAE0FF;
    padding: 10px;
    position: fixed;
    width: 370px;
}
#logoIMG{
    height: 70px;
}
#menu{
height: 30px;
margin-right: 20px;
}
.upperside{
    display: flex;
    flex-direction: column;
}

.writeideasIMG>img{
    height: 100%;
    width: 100%;
    margin-top: 50px;
}

.maininfo{
    position: relative;
    bottom: 80px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 40px 20px;
    background: #ffffffb6;
    padding-right: 40px;
}

#registermain{
    width: 100%;
    text-align: center;
    background: #2B1609;
    border: 2px solid #F3BA39;
    padding: 7px;
    margin: 3px;
    color: #F3BA39;
    border-radius: 20px;
    text-decoration: none;
}
