<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/dashboard">Dashboard</a>
    </nav>

    <form action="/add/category" method="POST">
        <h1>Add Category</h1>
        <label for="category">Insert here the new category:</label>
        <input type="text" placeholder="@category" name="category" value="@">
        <button type="submit">Create</button>
    </form>

    <form action="/delete/category" method="POST">
        <h1>Delete Category</h1>
        <label for="categorydel">Select the category you would like to remove:</label>
        <select name="categorydel">
            {% for category in categories: %}
                <option>{{category['category']}}</option>
            {% endfor %}
        </select>
        <button type="submit">Delete</button>
    </form>
    
    <div>
        {% with messages = get_flashed_messages() %}
            {% if messages: %}
                {% for message in messages: %}
                <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>