<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <h1>Hello {{user['username']}}</h1>
        <a href="/user/info">My profile</a>
        <a href="/logout">LogOut</a>
    </nav>
    
    <div class="body">

        <div class="idea">
            <form>
                <h2>Share you idea with the world</h2>
                <textarea name="idea" placeholder="Write here your idea"></textarea>
                <select name="category">
                    {% for category in categories: %}
                        <option>{{category['category']}}</option>
                    {% endfor %}
                </select>
                <input type="hidden" value="{{user['user_id']}}"/>
                <button type="submit">Post idea</button>
            </form>

            <h2>Or</h2>
        <h2> add <a href="/category">Category</a> </h2>
        </div>
    </div>
    
</body>
</html>