<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Idefy Main Page</title>
    <link rel="stylesheet" href="/idefy_app/static/CSS/normalize.css"/>
    <link rel="stylesheet" href="/idefy_app/static/CSS/index.css"/>
</head>
<body>
    <nav>
        <h1>hola</h1>
        <img id="menu" src="/idefy_app/static/IMG/index/Menu.png"/>
    </nav>

    <div class="upperside">
        <div class="writeideasIMG">
            <img src="/idefy_app/static/IMG/index/Write Ideas.jpg"/>
        </div>
        <div>
            <div class="maininfo">

                    <h1>Welcome to Ideas for you</h1>
                    <h3>Get started sharing you best ideas with people around the world 🌎</h3>
                    <h4>Are you new?</h4>
                    <a id="registermain" href="/register">Register</a>
                
            </div>
        </div>
    </div>
    
    <div class="Down side">
        <
    </div>

</body>
</html>