<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <nav></nav>

    <div class="body">
        <form>
            <h1>Register</h1>
                <label for="name">Email or Username:</label>
                <input type="text" name="name" placeholder="Write your email or username"/>
                <label for="name">Password:</label>
                <input type="text" name="name" placeholder="Write your password"/>
                <button type="submit">Login</button>
        </form>
        <h2>Or</h2>
        <h2> Go to <a href="/register">Register</a> </h2>
    </div>
</body>
</html>